@{
  Layout = "_Layout";
}

@model ParksMVC.Models.Park

<h1>@Model.Name</h1>

<p>@Model.Location</p>
<p>Area: @Model.SquareMileage</p>
<p>Terrain: @Model.Terrain</p>
<p>@Model.Description</p>





<button class="btn btn-success">@Html.ActionLink("Edit Park", "Edit", new { id = @Model.ParkId })</button>

<button class="btn btn-success">@Html.ActionLink("Delete Park", "Delete", new { id = @Model.ParkId })</button>